@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: iDroid;
    src: url(fontes/idroid.otf);
}

:root{
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', Arial, sans-serif;
    --fonte-android: 'iDroid', 'Times New Roman', Times, serif;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor0);
}

header {
    background-image: linear-gradient(to top, var(--cor4), var(--cor2));
    min-height: 150px;
    color: white;
    font-size: 1.2em;
    text-align: center;
    font-family: var(--fonte-destaque);
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.412);
}

#tituloprincipal {
    padding: 20px;
}

header p{
    padding: 20px 20px;
}

nav {
    background-color: var(--cor4);
    padding: 5px;
}

nav > a{
    font-family: var(--fonte-destaque);
    color: white;
    text-decoration: none;
    padding: 0px 15px;
}

nav > a:hover{
    background-color: var(--cor3);
    border-radius: 5px;
    color: black;
    padding: 3px 15px;
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.461);
    max-width: 800px;
    min-width: 300px;
    margin: 15px auto;
    padding: 15px;
    font-family: var(--fonte-padrao);
}

main p {
    text-align: justify;
    text-indent: 40px;
    line-height: 1.4em;
    margin: 10px;
}

main h1,h2 {
    margin: 10px;
}

main img {
    width: 100%;
}

#imagempq {
    max-width: 350px;
    display: block;
    margin: auto;
}

.tituloandroid {
    font-family: var(--fonte-android);
    background-image: linear-gradient(to right, var(--cor2 ), rgba(255, 255, 255, 0));
}

div.video {
    background-color: var(--cor5);
    margin: 0px -15px;
    padding: 10px;
    padding-bottom: 57%;
    position: relative;
}

div.video > iframe {
    position: absolute ;
    top: 5%;
    left: 5%;
    height: 90%;
    width: 90%;
}

aside {
    margin: 20px 0px;
    background-color: var(--cor0);
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.511);
}

aside h3{
    padding: 5px; 
    background-color: var(--cor2);
    text-indent: 15px;
    border-radius: 10px 10px 0px 0px;
}
aside > ul{
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
    margin: 10px;
}

footer {
    background-color: var(--cor5);
    padding: 2px;
    color: white;
    text-align: center;
}

main a {
    background-color: rgba(128, 128, 128, 0.257);
    text-decoration: none;
    border-radius: 10px;
    padding: 2px;
}
main a::after{
    content: '\1F517';
}

main a:hover {
    background-color: rgba(194, 194, 188, 0.719);
}





